section#BarraSuperio {
	width: 800px;
	height: 93px;
	margin: auto;
	
}
section#Menu {
	position: relative;
	top: 60px;
}
section#logeado {
	float: right;
	display: box;
	

}
section#content {
	width: 800px;
	margin: auto;
	
}

.GA , .GB {
	width:3em;
}

.Guardar {
	position:fixed;
	left:750px;
	top:110px;
}

img {
	border:1px solid black;
	margin:0px 1px 0px 1px;
}

table.Porciones {
	margin:2ex 0px 0px 0px;
	text-align:center;
}


td.Resumen-Celda-EQUIPOS {
	text-align:left;
}
.Partido-Id {
	display: inline-block;
	width:31px;
}

div.Porcion th:nth-child(1) {
	text-align:left;
	font-size:1.5em;
	padding-top:1em;
}
th.Puntos {
	text-align:right;
	padding-top: 2em;
}
td.Puntos {
	text-align:right;
}
td.Resumen-Celda-Puntos {
	text-align:right;
	width:222px;
}

.Partido-EquipoA ,.Partido-EquipoB , .Paso {
	display: inline-block;
	min-width: 112px;
} 
.Partido-Fecha {
	display: inline-block;
	min-width: 112px;
} 

.Final {
	color:Green;
}

.PrimerTiempo,
.SegundoTiempo,
.Prologa,
.Penatil {
	color:Orange;
}
	
.NoIniciado {
	color:Black;
}