<style>
	#menuPrincipal li { display:inline-block; width: auto; }
	#menuPrincipal li.sub { display:block; width: auto;}
</style>
<ul id="menuPrincipal">
  <li><a href="/Pronostico/Agregar">Agregar Pronostico</a></li>
  <li><a href="/Pronostico/Actualizar">Actualizar Pronostico</a></li>
  <li><a href="/Pronostico/ListarPartido">Ver Partido</a></li>
  <li><a href="/Quiniela/Resumen">Resumen</a></li>
  <li><a href="/Quiniela/Comparar">Comparar</a></li>
  <li><a href="/Torneo/Resultado/Actualizar">Torneo</a></li>
  <li><a href="/Pronostico/PorAprobar">Aprobar</a></li>
</ul>