<style>
	#menuPrincipal li { display:inline-block; width: auto; }
	#menuPrincipal li.sub { display:block; width: auto;}
</style>
<ul id="menuPrincipal">
  <li><a href="/Pronostico/Agregar">Agregar Pronostico</a></li>
  <li><a href="/Pronostico/Actualizar">Actualizar Pronostico</a></li>
  <li><a href="/Quiniela/Resumen">Resumen</a></li>
 @* <li><a href="/Pronostico/Listar">Listar Pronostico</a></li> *@
  <li><a href="/Torneo/Resultado/Actualizar">Actualizar Resultado Torneo</a></li>
  <li><a href="/Pronostico/PorAprobar">Por Aprobar</a></li>
</ul>