@(Puntos: List[models.Punto])
@defining(
((new Long(0),new Long(0),new Long(0))/:Puntos)((Re,Punto)=>(
			Punto.getEstado() match  {
			case models.TipoEstado.Nuevo => (Re._1, Re._2, Re._3+Punto.getMaximo())
			case models.TipoEstado.Parcial => (Re._1+Punto.getValor(), Re._2+Punto.getMaximo(), Re._3+Punto.getMaximo())
			case models.TipoEstado.Final => (Re._1+Punto.getValor(), Re._2+Punto.getMaximo(), Re._3+Punto.getMaximo())
			}	
			) )
){ R => 
Total de Puntos @R._1 de @R._2 jugados faltan @{R._3-R._2}
	
}
