@(Pronostico: models.Pronostico)
@css = {
	<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/QuinielaPronostico.css")'>
}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>	
}

@base("Agregar Pronostico ",css,script){
	@helper.form(action = controllers.quiniela.routes.Pronostico.guardar(),'class -> "ui-widget ui-widget-content ui-corner-all") {
		<label for="Nombre">Nombre</label><input type="text" id="Nombre" name="Nombre" value="@Pronostico.Nombre">
		<input type="hidden" name="Id" value="@Pronostico.Id">
		<input type="hidden" name="Quiniela" value="@Pronostico.Quiniela.Id">
		@Pronostico.Quiniela.Torneo.Porciones.map{Porcion=>@views.html.quiniela.Pronostico.Porcion(Porcion,false)}
		<input type="submit" value="Guardar"></input>
		<script>
		@Pronostico.Resultados.map{Resultado=>@views.html.FormatoResultado.InicializarResultado(Resultado) }
		</script>
	}
}


