@(Pronostico: models.Pronostico)

@import com.avaje.ebean.Ebean


@css = {
	<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/QuinielaPronostico.css")'>
}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>	
}

@base("Agregar Pronostico ",css,script){
	@helper.form(action = controllers.quiniela.routes.Pronostico.guardar()) {
		<label for="Nombre">Nombre</label><input type="text" id="Nombre" name="Nombre" value="@Pronostico.Nombre">
		<input type="hidden" name="Id" value="@Pronostico.Id">
		<input type="hidden" name="Quiniela" value="@Pronostico.Quiniela.Id">
		@for(Porcion <- Pronostico.Quiniela.Torneo.Porciones){
			<div id="Porcion-@Porcion.Id" class="Procion">
				<script type="text/javascript">Porciones[@Porcion.Id]=new Porcion(@Porcion.Id);</script>
				<h2>@Porcion.Nombre</h2>
				<table>
					<tbody>
						@Porcion.Partidos.map{Partido => @views.html.quiniela.Pronostico.Partido(Partido,Porcion.Id)}
					</tbody>
				</table>
			</div>
			@if(Porcion.Resultados.size()>0) {
				@for(Resultado <- Porcion.Resultados){
					@Ebean.refresh(Resultado.Definicion)
					<script>Porciones[@Porcion.Id].AgregarResultado(@Resultado.Id , @Resultado.Definicion.Abreviatura)</script>
				}
				@views.html.quiniela.Pronostico.PorcionGrupo(Porcion.Id)
			}
		}
		<input type="submit" value="Guardar"></input>
		<script>
		@for(Resultado <- Pronostico.Resultados){
			@Ebean.refresh(Resultado.Resultado)
			@if(Option(Resultado.Entero).nonEmpty) {
			AsignaValorResultado(@Resultado.Resultado.Id,@Resultado.Entero);
			} 
		}
		</script>
	}
}


