@(Pronostico: Pronostico)
@import com.avaje.ebean.Ebean

@Pronostico.Nombre de<div class="Usuario">@views.html.Usuario.Usuario(Pronostico.Propietario)</div>
@Ebean.refresh(Pronostico.Quiniela)
@Ebean.refresh(Pronostico.Quiniela.Torneo)
@for(Porcion <- Pronostico.Quiniela.Torneo.Porciones){
	<div id="Porcion-@Porcion.Id" class="Procion">
		<h2>@Porcion.Nombre</h2>
	<table>
		<tbody>
	 		@Porcion.Partidos.map{Partido => @views.html.quiniela.Pronostico.PartidoLectura(Partido)}
		</tbody>
	</table>
	</div>
}
<script>
	@for(Resultado <- Pronostico.Resultados){
		@Ebean.refresh(Resultado.Resultado)
		@if(Option(Resultado.Entero).nonEmpty) {
			PublicarResultado(@Pronostico.Id,@Resultado.Resultado.Id,@Resultado.Entero);
		}
		@if(Option(Resultado.Equipo).nonEmpty) {
			@Ebean.refresh(Resultado.Equipo)	
			PublicarResultado(@Pronostico.Id,@Resultado.Resultado.Id,"@Resultado.Equipo.Nombre");
		} 
	}
</script>




