@(Pronosticos: List[Pronostico])

@css = {
	<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/QuinielaPronosticoTab.css")'>
		<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/QuinielaPronostico.css")'>
}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>	
}

@base("Listar Pronostico",css,script) {
	<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
	<section id="tabs">
	<ul class="tabs"></ul>
	@for(Pronostico <- Pronosticos) {
		<script>$("ul.tabs").append('<li><a href="#tabs-@Pronostico.Id">@{Pronostico.Nombre}(@Pronostico.Propietario.nombre)</a></li>')</script>
		<article id="tabs-@Pronostico.Id">
		<div>@Pronostico.Nombre de @views.html.Usuario.Usuario(Pronostico.Propietario)</div>
		<div>Total de Puntos @{Pronostico.getPuntos().foldLeft(new Long(0))((total,Punto) =>Punto.getValor()+total)}</div>
		@Pronostico.getQuiniela().getTorneo().getPorciones().map{Porcion=>@views.html.quiniela.Pronostico.Porcion(Porcion,true)}
		<script>
		@Pronostico.getResultados().map{Resultado=>@views.html.FormatoResultado.InicializarResultado(Resultado,"article#tabs-"+Pronostico.Id)}
		</script>
		</article>
	}
	</section> 
}