@(Porcion: models.Porcion, Lectura: Boolean=false,Puntos: HashMap[Tuple3[Long,Long,Long],Tuple4[Long,Long,Long,Long]]=null)
<div id="Porcion-@Porcion.getId()" class="Procion">
	<script type="text/javascript">Porciones[@Porcion.getId()]=new Porcion(@Porcion.getId());</script>
	<h2>@Porcion.getNombre()</h2>
	@if(Puntos!=null) {
		<div class="Puntos">
		 @defining(Puntos.get(new Tuple3[Long,Long,Long](Porcion.Pronostico.Id,Porcion.getId(),null))){P => @{P._1}(@P._2)/@P._4}
		</div>
	}
	<table>
		<tbody>
			@Porcion.getPartidos().map{Partido => @views.html.quiniela.Pronostico.Partido(Partido,Porcion.getId(),Lectura)}
		</tbody>
	</table>
	@if(Porcion.getResultados().size()>0) {
		@for(Resultado <- Porcion.getResultados()){
			<script>Porciones[@Porcion.getId()].AgregarResultado(@Resultado.getId() , @Resultado.getDefinicion().getAbreviatura())</script>
		}
		@views.html.quiniela.Pronostico.PorcionGrupo(Porcion.getId())
	}
</div>
