@(Pronostico: models.Pronostico)
@css = {}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarQuienPasa.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/GuardarMensaje.js")' type="text/javascript"></script>
}

@base("Agregar Pronostico ",css,script){
	<form action="" class="ui-widget ui-widget-content ui-corner-all">
		<label for="Nombre">Nombre</label><input type="text" id="Nombre" name="Nombre" value="@Pronostico.getNombre()">
		<input type="hidden" name="Id" value="@Pronostico.getId()">
		<input type="hidden" name="Quiniela" value="@Pronostico.getQuiniela().getId()">
		@Pronostico.getQuiniela().getTorneo().getPorciones().map{Porcion=>@views.html.Pronostico.Porcion(Porcion,false)}
		<input class="Guardar ui-corner-all" type="submit" value="Guardar"></input>
		<div id="Mensaje"></div>
		<script type="text/javascript">
		@Pronostico.getResultados().map{Resultado=>@views.html.FormatoResultado.InicializarResultado(Resultado,"form") }
		</script>
	</form> 
}


