@(Pronosticos: List[models.Pronostico], Puntos: HashMap[Tuple3[Long,Long,Long],Tuple4[Long,Long,Long,Long]])

@css = {
	<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/QuinielaPronostico.css")'>
}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>	
}

@base("Listar Pronostico",css,script) {
	<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
	<section id="tabs">
	<ul class="tabs"></ul>
	@for(Pronostico <- Pronosticos) {
		<script>$("ul.tabs").append('<li><a href="#tabs-@Pronostico.getId()">@{Pronostico.getNombre()}(@Pronostico.getPropietario().getNombre())</a></li>')</script>
		<article id="tabs-@Pronostico.getId()">
		<div>@Pronostico.getNombre() de @views.html.Usuario.Usuario(Pronostico.getPropietario())</div>
		<div class="Punto-Pronostico">@views.html.Punto.LargoTupla(Puntos.get(new Tuple3[Long,Long,Long](Pronostico.getId(),null,null)))</div>
		@Pronostico.getQuiniela().getTorneo().getPorciones().map{Porcion=>@views.html.Pronostico.Porcion(Porcion,true,Puntos,Pronostico.getId())}
		<script>
		@Pronostico.getResultados().map{Resultado=>@views.html.FormatoResultado.InicializarResultado(Resultado,"article#tabs-"+Pronostico.getId())}
		</script>
		</article>
	}
	</section> 
}