@(Porcion: models.Porcion, Lectura: Boolean=false,PronosticoId: Long=null)
<div id="Porcion-@Porcion.getId()" class="Porcion">
	<script type="text/javascript">Porciones[@Porcion.getId()]=new Porcion(@Porcion.getId());</script>
	<table>
		<thead><tr>
		<th  colspan="6">@Porcion.getNombre()</td>
		<th  colspan="2" class="Puntos"></td>
		</tr></thead>
		<tbody>
			@defining(Lectura||Porcion.getInicio().before(Calendar.getInstance().getTime())){L=>
			@Porcion.getPartidos().map{Partido => @views.html.Pronostico.Partido(Partido,Porcion.getId(),L)}
			}
		</tbody>
	</table>
	@if(Porcion.getResultados().size()>0) {
		@for(Resultado <- Porcion.getResultados()){
			<script>Porciones[@Porcion.getId()].AgregarResultado(@Resultado.getId() , @Resultado.getDefinicion().getAbreviatura())</script>
		}
		@views.html.Pronostico.PorcionGrupo(Porcion.getId())
	}
</div>
