@(Torneo: models.Torneo, Resultados: List[Resultado], Lectura: Boolean )
@css = {
	<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/ActualizarResultados.css")'>
}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioTiempo.js")' type="text/javascript"></script>	
}
@base("Actualizar Resultados ",css,script){
	@helper.form(action = controllers.routes.Torneo.GuadarResultados(),'class -> "ui-widget ui-widget-content ui-corner-all") {
	@views.html.Torneo.Torneo(Torneo,Resultados,Lectura)
	<input type="submit" value="Guardar"></input>
	}
}