@(Partido: Partido, Id: Long, Lectura: Boolean=false)
<tr id="Partido-@Partido.getId()" class="Partido" >
	<script type="text/javascript">var P=new Partido(@Partido.getId(),@Partido.getEquipoA().getId(),@Partido.getEquipoB().getId());</script>
	<td class="Partido-Id">@Partido.getNombreCorto()</td>
	<td class="Partido-Fecha">@Partido.getFecha().format("dd/MM hh:mm a")</td>
	<td class="Partido-EquipoA">@views.html.Equipo.Breve(Partido.getEquipoA())</td>
	<td class="Partido-EquipoB">@views.html.Equipo.Breve(Partido.getEquipoB())</td>
	@for(Resultado <- Partido.getResultados()){
		<script type="text/javascript">P.AgregarResultado(@Resultado.getId() , "@Resultado.getDefinicion().getAbreviatura()");</script>
		<td class="Partido-Resultado">
		@views.html.FormatoResultado.ResultadoMinimo(Resultado,Id,Lectura||Partido.getTiempoActual()==models.Partido.Tiempo.Final)
		</td>
    }
    <td class="Partido-Tiempo">@views.html.Partido.SelecionarTiempo(Partido,Lectura||Partido.getTiempoActual()==models.Partido.Tiempo.Final)</td>
    <script type="text/javascript">Porciones[@Id].AgregarPartido(P,"@Partido.getEquipoA().getNombreCorto()","@Partido.getEquipoB().getNombreCorto()");</script>
</tr>
