@(Quiniela: models.Quiniela,Resumenes: List[utilitario.Resumen]) 
@css = {}
@script = {
<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")'
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")'
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/Inicializar.js")'
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ProcesarCambioTiempo.js")' 
	type="text/javascript"></script>	
<script src='@routes.Assets.at("javascripts/MostrarPronostico.js")' 
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ProcesarQuienPasa.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ColocarPuntos.js")' type="text/javascript"></script>
} 
@base("Resumen de @Quiniela.getNombre()",css,script) {
<h2>@Quiniela.getNombre()</h2>
<section id="tabs">
	<ul class="tabs">
		<li><a href="#Resumen">Resumen</a>
		<li><a href="#Resultados">Resultados</a>
	</ul>
	<article id="Resumen">
		<div>Hay @Resumenes.size() Quinielas</div>
		@defining(Resumenes.get(0)){Primero=>
		<div>Se han Jugando	@Primero.getJugados() de @Primero.getTotalMaximo()</div>
		}
		<table>
			<thead>
				<tr>
					<th class="Resumen-Posicion">Posicion</th>
					<th class="Resumen-Usuario">Jugador</th>
					<th class="Resumen-Pronostico">Pronostico</th>
					<th class="Resumen-Punto">Puntos</th>
					<th class="Resumen-PorcentajeTotal">%Total</th>
					<th class="Resumen-Maximo">Max</th>
					<th class="Resumen-Participa">Participa</th>
				</tr>
			</thead>
			<tbody>
				@Resumenes.map{Resumen =>
				<tr>
					<td class="Resumen-Posicion">@Resumen.getPosicion()</td>
					<td class="Resumen-Usuario"><a
						href="javascript: MostrarPronostico(@Resumen.getPronostico().getId(),'@Resumen.getPronostico().getNombre()');">@views.html.Usuario.Usuario(Resumen.getJugador())</a></td>
					<th class="Resumen-Pronostico"><a
						href="javascript: MostrarPronostico(@Resumen.getPronostico().getId(),'@Resumen.getPronostico().getNombre()');">@Resumen.getPronostico().getNombre()</a></th>
					<td class="Resumen-Punto">@Resumen.getPunto()</td>
					<td class="Resumen-PorcentajeTotal">@("%1.0f".format(Resumen.getPorcentajeTotal()*100))%</td>
					<td class="Resumen-Maximo">@Resumen.getMaximo()</td>
					<td class="Resumen-Participa">@if(Resumen.getParticipa()){Si}else{No}</td>
				</tr>
				}
			</tbody>
		</table>
	</article>
	<article id="Resultados">
	 @views.html.Torneo.Torneo(Quiniela.getTorneo(),true)
	</article>	
</section>
<script>
	$(function() {
		$("#tabs").tabs();
	});
</script>
}
