section#BarraSuperio {
	width: 980px;
	height: 93px;
	margin: auto;
	
}
section#Menu {
	position: relative;
	top: 60px;
}
section#logeado {
	float: right;
	display: inline;

}
section#content {
	width: 980px;
	margin: auto;
}