@(elements: views.html.helper.FieldElements)

@import play.api.i18n._
@import views.html.helper._

@defining(elements.args.get('_class).getOrElse("input")) {c =>
@defining(if(elements.hasErrors) {"_error"} else {""}) {err =>	
@defining(elements.args.get('_id).getOrElse(elements.id + "_field")) { id =>	
<span class="@{c+err}" id="@id">
    <label for="@elements.id">@elements.label</label>
    @elements.input
    @if(elements.hasErrors) {<span class="errors">@elements.errors.mkString(", ")</span>}
    @if(elements.infos.size>0){<span class="help">@elements.infos.mkString(", ")</span>} 
</span>
}}}