@(Torneo: Torneo)
@css = {
	<link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/ActualizarResultados.css")'>
}
@script= {
	<script src='@routes.Assets.at("javascripts/EstructuraLocal.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/ProcesarCambioGol.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/Inicializar.js")' type="text/javascript"></script>	
}

@base("Actualizar Resultados ",css,script){
	@helper.form(action = controllers.torneo.routes.Torneo.GuadarResultados(),'class -> "ui-widget ui-widget-content ui-corner-all") {
		<div>@Torneo.Nombre</div>
		<input type="hidden" name="Id" value="@Torneo.Id">
		@Torneo.Porciones.map{Porcion=>@views.html.torneo.torneo.Porcion(Porcion,false)}
		<input type="submit" value="Guardar"></input>
	}
}