@(Id: Long)
<table class="Porciones" id="P-@Id">
	<thead>
		<tr>
		<th class="Resumen-Celda-Clasificacion"></th>
     	<th class="Resumen-Celda-EQUIPOS">EQUIPOS</th>
     	<th class="Resumen-Celda-JJ">JJ</th>
     	<th class="Resumen-Celda-JG">JG</th>
     	<th class="Resumen-Celda-JE">JE</th>
     	<th class="Resumen-Celda-JP">JP</th>
     	<th class="Resumen-Celda-GF">GF</th>
     	<th class="Resumen-Celda-GC">GC</th>
     	<th class="Resumen-Celda-GD">GD</th>
     	<th class="Resumen-Celda-Pts">Pts</th>
     	</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script>ActualizaPorcion(Porciones[@Id],$(document.scripts[document.scripts.length - 1]).prev().children("tbody"));</script>
